.workers-container {
  max-width: fit-content;
  margin: 50px auto 100px;
}

.table-container {
  max-width: 400px;
  max-height: fit-content;
  margin: 0 auto !important;
  padding-top: 20px;
  border: 1px solid #dee2e6;
  border-top: 0;
  border-bottom: 0;
}
